body::before {
  display: block;
  content: '';
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    min-height: 350px; /* Adjust based on your content */
}
  
.card-body {
display: flex;
flex-direction: column;
height: 100%; /* This ensures the card body fills the card */
}

.btn {
margin-top: auto; /* This pushes the button to the bottom */
align-self: center; /* Add this to keep the button width normal */
width: auto; /* Add this to keep the button width normal */
}

.btn-lg { 
    height: 50px;
    margin-top: 9px;
    margin-bottom: 10px;
}