.jobs-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}


.search-and-filter {
  display: flex;
  margin-bottom: 20px;
}

.search-input {
  flex-grow: 1;
  margin-right: 10px;
}

.filter-select {
  width: 150px;
}

.jobs-layout {
  display: flex;
  gap: 20px;
}

.job-listings {
  flex-grow: 1; /* Updated to prevent job listings from shrinking too much */
  overflow-y: auto;
}

.job-posting {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.job-posting h3 {
  margin: 0;
  color: #0055b7; /* Match with your theme color */
  font-size: 1.2em;
}

.job-details-panel {
  width: 50%; /* Fixed width for the job details panel */
  border-left: 1px solid #ccc;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto; /* Allows vertical scrolling if content overflows */
  overflow-x: hidden; /* Keeps the content from spilling out sideways */
}

.apply-button {
  padding: 10px 20px;
  background-color: #007bff; /* Example button color */
  color: #ffffff; /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px; /* Spacing above the button */
  font-size: 16px; /* Text size */
  display: block; /* Make the button block level so it can be centered */
  margin-left: auto; /* Center the button */
  margin-right: auto;
}

.apply-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* make bullet points ul gone */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}