.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  
  /* JobSeekerFetcher.css */
  
  .dashboard {
    max-width: 800px;
    margin: auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background: #161515;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .section p {
    margin: 5px 0;
  }
  
  ul.application-history {
    list-style-type: none;
    padding: 0;
  }
  
  ul.application-history li {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }